/* commentaire */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    color: #555;
    margin: 0;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family: "Poppins", serif;
    line-height: 1;
}
h1,
.h1 {
    font-size: 3.1rem;
    font-weight: 700;
}

h2,
.h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
}

h3,
.h3 {
    font-size: 2.1rem;
}

h4,
.h4 {
}

h5,
.h5 {
}

h6,
.h6 {
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

img {
    max-width: fit-content;
    max-height: 385px;
}

li {
    margin-bottom: 1 rem;
}
section {
    padding: 5.5rem;
}

.section-title {
    margin-top: 0;
    font-size: 3.8rem;
}

.section-header {
    text-align: center;
}
@media screen and (min-width: 750px) {
    .section-title {
        font-size: 4.8rem;
    }
}

.header {
    background-color: #ffffff;
    border-bottom: 1px solide #eeeeee;
}

.header .logo {
    font-family: "Poppins", serif;
    font-size: 2rem;
    letter-spacing: 2px;
}
.header li {
    display: inline-flex;
    align-items: center;
    padding: 0 0.5rem;
}

.header a {
    color: #333;
}

.header .right {
    display: flex;
    align-items: center;
}

.socials a {
    padding: 0 2px;
}

.socials {
    display: flex;
}

.socials .icon {
    height: 18px;
}

.navbar {
    display: none;
}

.burger {
    background: none;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    margin-left: 1rem;
}

.burger .bar {
    display: block;
    width: 22px;
    height: 3px;
    background-color: #333;
}
.burger .bar::before,
.burger .bar::after {
    display: block;
    content: "";
    width: 22px;
    height: 3px;
    background-color: #333;
    position: absolute;
}
.burger .bar::before {
    transform: translateY(-8px);
}
.burger .bar::after {
    transform: translateY(8px);
}
/* pour les mobiles */
@media screen and (max-width: 749px) {
}

@media screen and (min-width: 750px) {
    .navbar {
        display: flex;
    }
    .burger {
        display: none;
    }
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contenair {
    padding: 1rem 2rem;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space;
}

.grid__item {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    padding: 1rem;
}

@media screen and (min-width: 750px) {
    .contenair {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
    }
    .grid__item {
        max-width: 50%;
    }
}

.hero {
    background: #5b6c78;
    color: #ffffff;
    padding: 1rem 0 0 0;
}

.hero .title {
    color: inherit;
    font-size: 3.5rem;
    margin: 1.6rem 0 0 0;
}

.hero__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero__item span {
    text-transform: uppercase;
}

@media screen and (max-width: 749px) {
    .hero__item.left {
        order: 2;
    }

    .hero__item.right {
        order: 1;
    }
}

@media screen and (min-width: 750px) {
    .hero__item {
        flex: 1 0 50%;
        align-items: flex-start;
        text-align: left;
    }
    .hero__avatar img {
        border-radius: 50%;
        max-width: 400px;
    }
    .hero__item.right {
        align-items: flex-end;
    }
    .hero .title {
        font-size: 5rem;
    }
}

.about .section-title {
    margin-top: 2.8rem;
}

@media screen and (min-width: 750px) {
    .about .img {
        padding-right: 3rem;
    }

    .about .grid {
        display: flex;
        justify-content: space-between;
    }
}

.services {
    background-color: #f5f5f5;
}

.service__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;

    border: 2px solid #5b6c78;
    border-radius: 50px;
}

.service__icon svg {
    height: 35px;
}

.service__content {
    flex: 1;
}
.service__h3 {
    margin-bottom: 0;
}

@media screen and (max-width: 749px) {
    .service {
        text-align: center;
    }
    .service__icon {
        margin: 0 auto;
    }
}

@media screen and (min-width: 750px) {
    .service {
        align-items: center;
        display: flex;
    }
    .service__icon {
        margin-right: 2rem;
    }
}

.skills h4,
.skills p {
    margin: 0 0 0.3rem 0;
}

.skills li {
    background-color: #f5f5f5;
    border-left: 3px solid rgb(91, 107, 120);
    margin: 1rem 0;
    padding: 0.9rem 2rem;
}

.skills .progressbar {
    background: #f5f5f5;
    color: #ffffff;
    margin-bottom: 1rem;
}
.skills .bar {
    background: #5b6c78;
    padding: 1rem;
}

.portfolio {
    background: #f5f5f5;
}

.portfolio .grid__item {
    max-width: 33.3333%;
    margin-bottom: 0;
}

.portfolio-filters .grid__item {
    max-width: 50%;
    margin-bottom: 0;
}

.portfolio-filters a {
    color: #333;
    background: #eee;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1rem;
}

.portfolio-filters a.active {
    color: #eee;
    background: #5b6c78;
}

.card {
}

@media screen and (min-width: 750px) {
    .portfolio-filters .grid__item {
        max-width: 25%;
    }
}

@media screen and (max-width: 749px) {
    .portfolio .grid__item a {
        font-size: 1.4rem;
    }
}

.toto {
}

@media screen and (min-width: 750px) {
}

@media screen and (min-width: 750px) {
}

.toto {
}

@media screen and (min-width: 750px) {
}
